@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%; 
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*=================================
  Header styling starts here
=================================*/
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #e9eaec;
}

.header .wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 22px 0;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  text-indent: -9999px;
  background-color: #000;
  transition: all .3s;
}

.hamburger {
  display: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 13px 15px;
  color: #82889A;
  font-size: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-item.active {
border: 1px solid #000;
}

.nav-list {
  display: flex;
}
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner .wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.banner {
  position: relative;
}

.banner-img {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.banner-heading {
  padding: 316px 0 375px;
  margin: 0 5.5% 0;
  position: absolute;
  top: 0;
  font-size: 42px;
  width: 36%;
  text-align: center;
  letter-spacing: 1px;
}

.next-section {
  width: 100%;
  position: absolute;
  bottom: 45px;
  text-align: center;
}

.next-btn {
  display: inline-block;
  text-indent: -9999px;
  
}

.angle-down::before {
  content: "\f103" ;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 28px;
  font-family: "FontAwesome";
  float: left;
  color: #fff;
  text-indent: 0;
}
/*=================================
  banner styling ends here
=================================*/
/*=================================
  turnip section styling starts here
=================================*/
.turnip {
  background-color: #F3C30F;
}

.turnip .wrapper {
  padding: 125px 0 135px;
}

.bowl-img {
  max-width: 108px;
}

.turnip-list {
  display: flex;
}

.turnip-item {
  margin: 0 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.turnip-heading {
  margin: 28px 0;
  font-size: 19px;
  text-transform: uppercase;
}

.turnip-item p {
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  color: #474747;
}
/*=================================
  turnip section  styling ends here
=================================*/
/*=================================
  month speical styling starts here
=================================*/
.month-special .wrapper {
  padding: 80px 0;
}

.main-heading {
  padding: 0 0 ;
  margin: 0 0 70px;
  color: #767676;
  font-size: 44px;
  text-align: center;
  font-weight: 600;
}

.special-img {
  max-width: 202px;
}

.special-list {
  display: flex;
  flex-wrap: wrap;
}

.special-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -340px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #686B71;
}

.special-item:hover .item-content{
  bottom: 0;
  transition: all .7s ease-in-out;
}

.item-name {
  padding: 0 0 20px;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
}

.special-list .item-name:after {
  content: '';
  width: 80px;
  height: 3px;
  background: gray;
  position: absolute;
  bottom: -4px;
  left: 15%;
  margin: 0 auto;
}

.item-para {
  padding: 25px 0;
}
/*=================================
  month special styling ends here
=================================*/
/*=================================
  about styling starts here
=================================*/
.about {
  position: relative;
}

.about .wrapper {
  padding: 83px 0 300px;
}

.about-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

.about-content {
  width: 46%;
  color: #767676;
  text-align: center;
}

.about-content .main-heading {
  margin: 0 0 104px;
  color: #767676;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}

.about-para {
  font-size: 33px;
  text-align: center;
  line-height: 42px;
}
/*=================================
  about styling ends here
=================================*/
/*=================================
  menu styling starts here
=================================*/
.menu .wrapper {
  padding: 85px 0;
}

.tab-list {
  width: 33%;
  margin-bottom: 60px;
  margin: 0 auto;
  display: flex;
}

.tab-item a {
  margin: 0 14px;
  color: #767676;
  font-size: 18px;
}

.menu-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.menu-item {
  margin-bottom: 60px;
  flex-basis: 48%;
  position: relative;
  color: #767676;
}

.name-price {
  display: flex;
  justify-content: space-between;
}

.name-price .item-name {
  padding: 0;
  display: inline-block;
}

.item-name {
  position: relative;
}

.item-anc {
  color: #767676;
  font-size: 20px;
}

.dotted {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}

.dotted::after {
  content: "";
  width: 275px;
  border-bottom: 2px dotted #767676;
  float: left;
  position: absolute;
  top: 20px;
  left: -135px;
}

.price {
  display: inline-block;
}

.item-brief {
  font-style: italic;
  text-transform: lowercase;
}
/*=================================
  menu styling ends here
=================================*/
/*=================================
  contact styling starts here
=================================*/
.contact {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.contact .wrapper {
  padding: 70px 0 35px;
  display: flex;
  justify-content: flex-end;
}

.contact-list {
  display: flex;
  margin-bottom: 60px;
}

.contact-item {
  flex-basis: 46%;
  color: #767676;
}

.contact-heading {
  margin-bottom: 12px;
  color: #767676;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.contact .main-heading {
  padding: 0 0 30px;
}

address {
  line-height: 25px;
}

.contact-anc a {
  margin-bottom: 5px;
  color: #767676;
  font-size: 17px;
}

.contact-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-input input,
.form-input textarea {
  padding: 12px 10px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
}

.form-input {
  display: flex;
  gap: 1%;
}

input[type="text"] {
  flex-basis: 45%;
}

input[type="email"] {
  flex-basis: 45%;
}

.form-input textarea {
  width: 100%;
  resize: none;
}

input[type="submit"] {
  padding: 14px 30px;
  margin: 40px 0 0;
  border: 1px solid #828284;
  background-color: transparent;
  color: #828284;
  font-size: 18px;
}

form {
  text-align: center;
}

.form-input input::placeholder,
.form-input textarea::placeholder {
  font-size: 17px;
}
/*=================================
  contact styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.footer .wrapper {
  padding: 40px 0 50px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
}

.footer-para {
  color: #948C98;
  font-size: 18px;
}

.footer-para a {
  color: #FF0000;
  font-size: 18px;
}

.footer-para a::before {
  content: "\f004";
  padding-right: 5px;
  font-family: "FontAwesome";
  color: #FF0000;
  float: left;
}

.social-icon {
  display: inline-block;
  text-indent: -9999px;
}

.social-icon::before {
  content: "\f09a";
  padding: 5px 10px;
  border: 1px solid #767676;
  background-color: transparent;
  color: #767676;
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
}

.linkedin::before {
  content: "\f0e1";
  padding: 5px 8px;
}

 /*=================================
  footer styling ends here
=================================*/ 
 /*=================================
 media query for hover effect on desktop starts here
 =================================*/ 
 @media only screen and (min-width: 995px) {
  .nav-item:hover {
    color: #FF0000;
    transition: all .3s;
  }

  .next-btn:hover::before {
    border-color: #767676;
    color: #767676;
    transition: all .4s;
  }

  .tab-item a:hover {
    color: #FF0000;
  }

  .send:hover {
    background-color: #FF0000;
    color: #fff;
    transition: all .4s;
  }

  .social-icon:hover::before {
    border-color: #FF0000;
    color: #FF0000;
    transform: scale(1.05);
    transition: all .4s;
  }
 }  
 /*=================================
 media query for hover effect on desktop starts here
=================================*/ 
